<link rel="stylesheet" href="/css/navbar.css">


<div class="navbar">



    <ul>
        <li><a href="/"> Home </a></li>
        <li><a href="/services"> Services</a></li>
        <li><a href="/contact"> Contact</a></li>
        <li><a href="/about">About Us </a></li>
        <li><a href="/user/login"> Login</a> </li>
        <li><a href="/user/signup"> Register</a> </li>


    </ul>



</div>