<style>
    h1 {
        text-align: center;
        color: blue;
    }

    .cards {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
</style>


<h1> hello from the server </h1>


