
<link rel="stylesheet" href="/css/register.css">



<div class="container p-5">




  <div class="h1 p-3"> Register To your Account </div>



   <form class="p-3" method="post" action="/user/signup">
    
    <div class="mb-3">
    <label for="username" class="form-label">User name</label>
    <input type="text" class="form-control" name="username">

  </div>

   <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>



  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
  </div>



  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
 <div  class="form-text"> Already have a account <a href="/user/login">Login </a></div>
  </div>


  <button type="submit" class="btn btn-success">Register</button>



</form> 



{{#if errMessage}}

<div class="alert alert-danger alert-dismissible fade show m-3" role="alert">
  <strong>{{errMessage}}</strong> 
  {{!-- You should check in on some of those fields below. --}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


{{/if}}

{{#if successMessage}}

<div class="alert alert-success alert-dismissible fade show m-3" role="alert">
  <strong>{{successMessage}}</strong> 
  {{!-- You should check in on some of those fields below. --}}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{{/if}}
</div>





{{!-- 
<div class="register-container">
    <h2>Register With Us </h2>


    {{#if errMessage}}

    <div class="err-message">
        <p> {{errMessage}}</p>
    </div>

    {{/if}}


    {{#if successMessage}}

    <div class="succes-message">
        <p> {{successMessage}}</p>
    </div>

    {{/if}}

    <form method="post" action="/user/signup" class="register-form">


        <label> Username </label>
        <input type="text" name="username">

        <label> Email </label>
        <input type="email" name="email">

        <label> Password </label>
        <input type="password" name="password">

        <p> If u are already an user go to <a href="/user/login">Login </a> </p>
        <button type="submit"> Register </button>


    </form>


</div> --}}