<style>
    .success {

        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;

    }
</style>





<div class="success">

    {{#if message}}

    <p style="color: rgb(54, 236, 17);"> {{message}} </p>
    <a href="{{link}}"> Back </a>

    {{/if}}

</div>